{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Proyecto Daw </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/principal.css" %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">

    <header>
      <div><h1 id="marquesina"><span>Diagrams</span><br><span>Done Right</span></h1></div>
    </header>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static "img/logo1.png" %}" class="img-circle" alt="ICO-BRAND" width="30" height="30"></a>
        </div>
        <div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="#section1">What's New?</a></li>
              <li><a href="#section2">Features</a></li>
              <li><a href="#section3">Examples</a></li>
              <li><a href="#section4">About us</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#myModal" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
            </ul>

          </div>
        </div>
      </div>
    </nav>

    <div id="section1" class="container-fluid">
      <div>
        <h1><span class="label label-default">WHAT'S NEW?</span></h1>
        <hr>
        <img src="{% static "img/carrusel/1.jpg" %}" alt="Chania" width="600" height="350">
      </div>
    </div>

    <div id="section2" class="container-fluid">
      <h1><span class="label label-default">FEATURES</span></h1>
      <hr>
      <div class="tdc-wrapper">
        <div class="container">
          <div class="row">
            <div class="think-draw-collaborate">
              <div class="span4">
                <h2>Think</h2>
                <p>You have great ideas, but how do you bring them to reality? Gliffy helps you organize your thoughts.</p>
              </div>
              <div class="span4">
                <h2>Draw</h2>
                <p>Create professional diagrams quickly with our intuitive interface - there's virtually no learning curve.</p>
              </div>
              <div class="span4">
                <h2>Collaborate</h2>
                <p>No need to buy expensive, OS-specific desktop software. Collaborate with anyone that has access to a web browser.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="section3" class="container-fluid">
      <h1><span class="label label-default">EXAMPLES</span></h1>
      <hr>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{% static "img/carrusel/2.jpg" %}" alt="Chania" width="300" height="200">
          </div>

          <div class="item">
            <img src="{% static "img/carrusel/3.jpg" %}" alt="Chania" width="300" height="200">
          </div>

          <div class="item">
            <img src="{% static "img/carrusel/4.gif" %}" alt="Flower" width="300" height="200">
          </div>

          <div class="item">
            <img src="{% static "img/carrusel/5.png" %}" alt="Flower"width="300" height="200">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" ></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div id="section4" class="container-fluid">
      <h1><span class="label label-default">ABOUT US</span></h1>
      <hr>
      <div class="thumb-f">
        <div class="row ">
          <div class="col-sm-3">
            <div class="card">
              <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
              <div class="avatar">
                <img src="{% static "img/thumb/1.jpg" %}" alt=".." />
              </div>
              <div class="content">
                <p>Web Developer <br>
                Joyce Sarmiento</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
              <div class="avatar">
                <img src="{% static "img/thumb/2.jpg" %}" alt=".." />
              </div>
              <div class="content">
                <p>Web Developer <br>
                Kattya Desiderio</p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
              <div class="avatar">
                <img src="{% static "img/thumb/3.jpg" %}" alt=".." />
              </div>
              <div class="content">
                <p>Web Developer <br>
                Angely Oyola</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Log in-->

    <div id="myModal" class="modal fade" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" display="inline">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="myModalLabel" font-weight="bold">Sign in</h4>
          </div>
          <div class="modal-body">
            <div class="tabs">
              <!-- Radio button and lable for #tab-content1 -->
              <input type="radio" name="tabs" id="tab1" checked >
              <label class="fa" for="tab1">
                <i class="fa"></i><span>New user</span>
              </label>

              <!-- Radio button and lable for #tab-content2 -->
              <input type="radio" name="tabs" id="tab2">
              <label class="fa" for="tab2">
                <i class="fa"></i><span>Existing user</span>
              </label>
              <!-- #tab-content1 -->
              <div id="tab-content1" class="tab-content">
                <form role="form">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" id="nuName" placeholder="Username" required>
                      <label for="nuName" class="input-group-addon glyphicon glyphicon-user"></label>
                    </div>
                  </div> <!-- /.form-group -->
                  <div class="form-group">
                    <div class="input-group">
                      <input type="email" class="form-control" id="nuemail" placeholder="your email" required>
                      <label for="nuemail" class="input-group-addon glyphicon glyphicon-envelope"></label>
                    </div>
                  </div> <!-- /.form-group -->
                  <div class="form-group">
                    <div class="input-group">
                      <input type="password" class="form-control" id="nuPassword" placeholder="Enter a password" required>
                      <label for="nuPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                    </div>
                  </div> <!-- /.form-group -->
                  <div class="btnContainer" text-align="center">
                    <button type="submit" id="btnReg" class="btn btn-primary">Register for free</button>
                  </div>
                </form>
              </div>
              <div id="tab-content2" class="tab-content">
                <form role="form">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" id="uLogin" placeholder="Login" required>
                      <label for="uLogin" class="input-group-addon glyphicon glyphicon-user"></label>
                    </div>
                  </div> <!-- /.form-group -->
                  <div class="form-group">
                    <div class="input-group">
                      <input type="password" class="form-control" id="uPassword" placeholder="Password" required>
                      <label for="uPassword" class="input-group-addon glyphicon glyphicon-lock"></label>
                    </div> <!-- /.input-group -->
                  </div> <!-- /.form-group -->
                  <div class="form-group">
                    <input type="checkbox" id="rememberCheck"> Remember me</input>
                  </div> <!-- /.checkbox -->
                  <div class="btnContainer">
                    <button type="submit" class="btn btn-primary" id="btnLogin">Log in</button>
                    <a href="perfil.html" target="_top" class="btn btn-primary" id="btnHidden" role="button" display="none"><span class="glyphicon glyphicon-log-in"></span>  Go to your Profile</a>
                  </div>
                </form>
              </div> <!-- #tab-content2 -->
            </div>
          </div>

          <div id="modFooter" class="modal-footer" text-align="center">
            <div class="icon-bar vertical five-up" display="inline">
              <a class="btn btn-primary social-login-btn social-facebook item" href="/auth/facebook"><i class="fa fa-facebook" display="block"></i></a>
              <a class="btn btn-primary social-login-btn social-twitter item" href="/auth/twitter" ><i class="fa fa-twitter" display="block"></i></a>
              <a class="btn btn-primary social-login-btn social-linkedin item" href="/auth/linkedin" ><i class="fa fa-linkedin" ></i>
              </a>
                <a class="btn btn-primary social-login-btn social-google item        " href="/auth/google" display="block"><i class="fa fa-google-plus" ></i></a>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">progress</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <style>
#btnHidden{display: none;}
#modFooter,.btnContainer{ text-align: center;}
#myModalLabel{font-weight:bold;}
.checkbox{display: block; position: relative;}
.tabs {
  max-width: 90%;
  float: inherit;
  list-style: none;
  padding: 0; border: 0;
  margin: 0;
}

    .tabs:after {
      content: '';
      display: table;
      clear: both;
    }

    .tabs input[type=radio] {
      display:none;
    }

    .tabs label[class=fa] {
      display: block;
      float: left;
      width: 33.3333%;
      color: #ccc;
      font-size: 15px;
      font-weight: normal;
      text-decoration: none;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      box-shadow: inset 0 0px #ccc;
      border-bottom: 4px solid #ccc;

      -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
      transition: all 0.5s;
    }
    @media (min-width: 768px) {
      .tabs i {
        padding: 1px;
        margin-right: 5px;
      }

      .tabs label span {
        display: inherit;
        text-align: center;
      }

      .tabs {
        max-width: 750px;
        margin: 0px;
      }
    }

    .tabs label span {
      color: black;
    }

    .tabs label i {
      padding: 0px;
      line-height: 1;
      margin-right: 0;
      border-bottom: 4px solid #3498db;
    }

    .tabs label:hover {
      color: #3498db;
      border-bottom: 4px solid #3498db;
      line-height: 1;
    }

    .tab-content {
      display: none;
      width: 100%;
      float: left;
      margin-top: 20px;
      padding: 2px;
      box-sizing: border-box;
      background-color:white;
    }
    .tab-content * {

      -webkit-animation: scale 0.7s ease-in-out;
      -moz-animation: scale 0.7s ease-in-out;
      animation: scale 0.7s ease-in-out;
    }

    @keyframes scale {

      0% {
        transform: scale(0.9);
        opacity: 0;
      }

      50% {
        transform: scale(1.01);
        opacity: 0.5;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }

    }
    .tabs [id^="tab"]:checked + label {
      background: white;
      box-shadow: inset 0 4px #3498db;
      border-bottom: 4px solid #3498db;
      color: #3498db;
    }

    #tab1:checked ~ #tab-content1,
    #tab2:checked ~ #tab-content2 {
      display: block;
    }
    </style>
    <footer>
      <small>Proyecto DAW &copy; 2015</small>
      <hr>
      <div class="text-center center-block">
        <p class="txt-railway">- Modelador -</p>
        <br />
        <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
        <a href="https://github.com"><i id="social" class="fa fa-github-square fa-3x social-gb"></i></a>
        <a href="https://www.linkedin.com"> <i id="social" class="fa fa-linkedin-square fa-3x social-li"></i></a>
      </div>
      <hr>

    </footer>

  </body>
  <script>
$(document).ready(function(){
  $('.btnContainer #btnLogin').click(function(){
    var button = $(this);
    var buttn = $('.btnContainer #btnHidden');
    if ( button.attr("data-dismiss") != "modal" ){
      var progress = $('.progress');
      var progressBar = $('.progress-bar');
      button.hide();
      progress.show();
      progressBar.animate({width : "100%"}, 100);
      progress.delay(10000)
        .fadeOut(600);
      buttn.show();
      buttn.removeClass("btn-primary")
        .addClass("btn-success")
        .blur()
        .delay(1600)
        .fadeIn(function(){
          button.attr("data-dismiss", "modal");
        });
    }
  });
  $('#myModal').on('hidden.bs.modal', function (e) {
    var progressBar = $('.progress-bar');
    var button = $('.btnContainer #btnLogin');
    inputs.removeAttr("disabled");
    progressBar.css({ "width" : "0%" });
    button.removeClass("btn-success")
      .addClass("btn-primary")
      .text("Sing In")
      .removeAttr("data-dismiss");
  });
});
  </script>
</html>
