{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Proyecto Daw </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/perfil.css" %}">
    <link rel="stylesheet" href="{% static "w2.css" %}">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" >
    <script src= "http://code.jquery.com/jquery-1.11.3.min.js" ></script>
    <script src= "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" ></script>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"><a href="/bhome/">Index</a></span>
            </button>
            <a class="navbar-brand" href="/bhome/"><img src="{% static "img/logo1.png" %}" class="img-circle" alt="Cinque Terre" width="30" height="30"></a>
          </div>
          <div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span>  {{ request.user }}  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="pull-right"><img alt="User Pic" src="{% static "img/thumb/2.jpg" %}" class="img-thumbnail img-responsive " width="150" height="75"></a></li>
                    <li><a href="/logout/" target="_top">log out</a></li>
                  </ul>
                </li>
              </ul>

            </div>
          </div>
        </div>
    </nav>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-13">
          <div class="jumbotron backGround">
            <h2>User Profile</h2>
          </div></div>

      </div>
      <br>
      <div class="row">
        <div class="col-sm-6"><!--left col-->
          <div class="panel panel-primary">
            <div class="panel-heading">Perfil  <i class="glyphicon glyphicon-user"></i></div>

            <div class="panel-body">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Code:</td>
                    <td>Programming</td>
                  </tr>
                  <tr>
                    <td>Nombres:</td>
                    <td id="nfirstname">{{request.user.first_name }}</td>
                  </tr>
                  <tr>
                    <td>Apellidos:</td>
                    <td id="nlastname">{{request.user.last_name }}</td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><a href="mailto:info@support.com">{{request.user.email }}</a></td>
                  </tr>

                </tbody>
              </table>
            <p style="text-align:right;">
              <button type="button" class="btn btn-default btn-lg" id="btnEditar" ><i class="glyphicon glyphicon-pencil"></i></button></p>
            </div>
          </div>

        </div><!--/col-6-->
        <div class="col-sm-6">
          <div class="row">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Created Documents  <i class="glyphicon glyphicon-file"></i>
                  <a href="{% url 'web.views.workarea' %}" target="_top" >
                    <span class="glyphicon glyphicon-plus"></span></a>
                </h3>
              </div>
              <div class="panel-body">
                <!--FIRST ROW CAROUSEL-->
                <div class="row">
                  <div class='col-md-12'>
                      <div id="imgCreados">
                        <ul class="list-group" id="ulimg">
                        </ul>
                      </div>
                  </div>
                </div>
                <!--SECOND ROW OPTION BUTTON-->
                <div class="row">

                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Shared Documents  <i class="glyphicon glyphicon-star"></i>
                  <a href="{% url 'web.views.workarea' %}" target="_top" >
                    <span class="glyphicon glyphicon-plus"></span></a>
                </h3>
              </div>
              <div class="panel-body">
                <!--FIRST ROW CAROUSEL-->

                <div class="row">
                  <div class='col-md-12'>

                    <div class="carousel slide media-carousel" id="media2">
                      <div class="carousel-inner">
                        <div class="item  active">
                          <div class="row">
                            <div class="col-md-6">
                              <a class="thumbnail" href="#"><img alt=".." src="{% static "img/uml1.jpg" %}"></a>
                            </div>
                            <div class="col-md-6">
                              <a class="thumbnail" href="#"><img alt=".." src="{% static "img/uml2.jpg" %}"></a>
                            </div>

                          </div>
                        </div>
                        <div class="item">
                          <div class="row">
                            <div class="col-md-6">
                              <a class="thumbnail" href="#"><img alt=".." src="{% static "img/uml2.jpg" %}"></a>
                            </div>
                            <div class="col-md-6">
                              <a class="thumbnail" href="#"><img alt=".." src="{% static "img/uml3.jpg" %}"></a>
                            </div>

                          </div>
                        </div>
                        <div class="item">
                          <div class="row">
                            <div class="col-md-6">
                              <a class="thumbnail" href="#"><img alt=".." src="{% static "img/uml2.jpg" %}"></a>
                            </div>
                            <div class="col-md-6">
                              <a class="thumbnail" href="#"><img alt=".." src="{% static "img/uml1.jpg" %}"></a>
                            </div>

                          </div>
                        </div>
                      </div>
                      <a data-slide="prev" href="#media2" class="left carousel-control">‹</a>
                      <a data-slide="next" href="#media2" class="right carousel-control">›</a>
                    </div>
                  </div>
                </div>
                <!--SECOND ROW OPTION BUTTON-->
                <div class="row">

                </div>
              </div>
            </div>

          </div>
        </div><!--/tab-content-->

      </div>

    </div>
  </div>

  <div class="modal fade" id="modalEditar">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Editar Perfil</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label for="nombre">Nombres:</label>
                <input type="nombre" class="form-control" id="nombre">
              </div>
              <div class="form-group">
                <label for="nombre">Apellido:</label>
                <input type="nombre" class="form-control" id="apellido">

            </div>
          </div>
          <div class="modal-footer">
                <button type="button" id= "btnGuardar" data-dismiss="modal" class="btn btn-success">Guardar</button>
          </div>
        </div>
      </div>
  </div>
</div>
  <footer>
     <p style="text-align:center;">
     <small class="text-center"> Proyecto DAW &copy; 2015</small></p>
    <hr>
    <div class="text-center center-block">
      <p class="txt-railway" >- Modelador -</p>
      <br />
      <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="https://github.com"><i id="social" class="fa fa-github-square fa-3x social-gb"></i></a>
      <a href="https://www.linkedin.com"> <i id="social" class="fa fa-linkedin-square fa-3x social-li"></i></a>
    </div>
    <hr>

  </footer>
  </body>
  	{% csrf_token %}
  <script src="{% static 'js/perfil.js' %}"></script>
</html>
